<!-- INICIO SOBRE MI -->
<section class="sobreMi" id="sobreMi">
    <div class="container w-100">
        <div class="row justify-content-md-center">
            <div class="col col-lg-2">
                <div class="containerFoto">
                    <img class= "foto" src="\assets\imagenes\icon.jfif" alt="perfil">
                </div> 
            </div>
            <div class="col-md-auto">
                <h5 class="sMi">{{dataSobreMi.sobremi}}</h5>
            </div>
        </div>
    </div>
</section>
<!-- FIN SOBRE MI -->
