/*COMIENZO EDUCACION */
p{
	margin-left: 10px;
	color: #fff;
	font-family: sans-serif;
}
.logos{
	width: 70px;
	height: 70px;
	border-radius: 50%;
}
.edu{
	margin-left: 40px;
	margin-top: 10px;
}
/*FIN EDUCACION*/